<h3>Product Feature Module</h3>
<form #productForm="ngForm" (ngSubmit)="formSubmit()">
  <input placeholder="Name" type="text" id="productName" name="productName" [(ngModel)]="model.name" #productName="ngModel" required minlength="5" />
  <span *ngIf="productName.invalid && (productName.dirty || productName.touched)">
    <span *ngIf="productName.errors.required">Product name is required</span>
    <span *ngIf="productName.errors.minlength">Product name is shorter than 5</span>
  </span>
  <br />
  <input placeholder="Quantity" type="number" id="quantity" name="quantity" [(ngModel)]="model.quantity" required />
  <br />
  <input type="submit" [disabled]="!productForm.valid" value="Send" />
</form>
{{productForm.value | json}}

<h3>Reactive Form</h3>
<form [formGroup]="products">
  <input type="text" formControlName="name" placeholder="Product" required />
  <br />
  <input type="number" formControlName="qty" placeholder="Quantity" required />
  <br />
  <input type="submit" [disabled]="!products.valid" value="Send" />
</form>

{{products.value | json}}
